@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-shrink-0 h1{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactus {
    min-height: 100px !important;
}